.row {
  position: relative;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-grow: 1;

  width: 100%;
  line-height: 30px;
  padding: 0 10px;

  &__text {
    flex-grow: 1;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }
}