@import "src/mixins/list";
@import "src/mixins/scroll";

.chat {
  @include list;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  min-width: 240px;

  padding: 20px;

  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

  background: #FFF;

  overflow: hidden;
}